In [1]:
import pandas as pd
import numpy as np

In [2]:
testset =  pd.read_csv('../models/xgb_submission.csv')

In [3]:
testset

      id    target
0    614  0.708990
1    615  0.708990
2    616  0.708990
3    617  0.708990
4    618  0.479202
..   ...       ...
362  976  0.633725
363  977  0.708990
364  978  0.564041
365  979  0.708990
366  980  0.564041

[367 rows x 2 columns]

In [4]:
sample_submission = pd.read_csv('../input/sample_submission_49d68Cx.csv')

In [5]:
del testset['id']
del sample_submission['Loan_Status']

In [6]:
testset.head()

     target
0  0.708990
1  0.708990
2  0.708990
3  0.708990
4  0.479202

In [7]:
testset['label'] = testset['target'].apply(lambda x: 'Y' if x > 0.5 else 'N')

In [8]:
sample_submission.head()

    Loan_ID
0  LP001015
1  LP001022
2  LP001031
3  LP001035
4  LP001051

In [9]:
test = pd.concat([sample_submission, testset], axis=1)

In [10]:
del test['target']

In [11]:
test.head()

    Loan_ID label
0  LP001015     Y
1  LP001022     Y
2  LP001031     Y
3  LP001035     Y
4  LP001051     N

In [12]:
test.rename(columns={'label':'Loan_Status'}, inplace=True)

In [13]:
test.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           N

In [14]:
test.to_csv('../models/xgb_submission.csv', index=False)